<!DOCTYPE html>
<head>
    <title>document</title>
    <style>
        .active {
            background-color: "#ff5d23";
        }

        .message-tips-close {
            float: right;
        }

        .success { 
            padding: 10px 20px; 
            background: #4fc08d;
            border: 1px solid #42b983; 
         }

        .warning {
            padding: 10px 20px; 
            background: #f66; 
            border: 1px solid #d63200; 
        }
    </style>
</head>

<body>
    <div id="app">
        <message-tips :show.sync="showSuccess" class="success">
            <template v-slot:first>添加</template>
            <template>成功</template>
        </message-tips>

        <message-tips :show.sync="showWarn" class="warning"> 
            <template v-slot:first> 
                <strong>警告</strong> 
            </template> 
            <template v-slot:default> 
                请输入课程名称！ 
            </template> 
        </message-tips>
        <h2 v-bind:title="title">
            {{title}}
        </h2>
        <span v-once :title="title1">{{title1}}</span> 
        <course-add :value="newCourse" @input="newCourse=$event" v-on:addcourse="addCourseHandle"></course-add>
        <batch-price-set :courses="courseList"></batch-price-set>
        <batch-clear-tips></batch-clear-tips>
        <p v-if="total == 0">没有任何课程</p>
        <course-list :courses="courseList"></course-list>
        <p>总共 {{totalCount}} 门课程</p>
    </div>


    <script src="vue.js"></script>
    <script>
        Vue.prototype.$bus = new Vue();

        Vue.component('message-tips', {
            props: {
                show: false
            },

            mounted() {
                this.$bus.$on('close-tips', ()=> {
                    this.$emit('update:show', false)
                })
            },

            template: `
                <div class="message-box-close" v-if="show">
                    <strong><slot name="first"></slot></strong>
                    <slot></slot>
                    <span class="message-tips-close" @click="$emit('update:show', false)">X</span>
                </div>    
            `
        })

        Vue.component('batch-clear-tips', {

            methods: {
                clearTips() {
                    this.$bus.$emit('close-tips')
                }
            },

            template: `
                <button @click='clearTips'>清空提示</button>
            `

        })

        Vue.component('course-list', {
            data() {
                return {
                    selectCourse: "",
                }
            },
            props: {
                courses: {
                    type: Array,
                    default: []
                }
            },
            methods: {
                updatSelectCourse(current) {
                    this.selectCourse = current
                    console.log("-----", current)
                },
            },
            template: `
                <div v-else>
                    <ul v-for="item in courses" :key="item.name" v-bind:title="item.name">
                        <!-- <li :class="{active: selectCourse === item}" @click="updatSelectCourse(item)">{{item}}</li> -->
                        <li :style="{backgroundColor: selectCourse === item ? '#ff5d23' : 'transparent'}" @click=updatSelectCourse(item.name)>{{item.name + ': ' + item.price}}</li>
                    </ul>
                </div>
            `
        })

        Vue.component ('course-add', {
            props: ['value'],
            methods: {
                addCourse() {
                    this.$emit('addcourse')
                },
                onInput(e) {
                    this.$emit('input', e.target.value)
                }
            },
            template: `
                <p>
                    <input type="text" :value="value" v-on:input=onInput v-on:keydown.enter="addCourse">
                    <button @click="addCourse">新增</button>
                </p>
            `
        })

        Vue.component('batch-price-set', {
            props: {
                courses: {
                    type: Array,
                    default: []
                }
            },
            methods: {
                batchSetPrice() {
                    this.courses.forEach(element => {
                        Vue.set(element, 'price', 100)
                    });
                }
            },

            template: `
                <button @click='batchSetPrice'>批量设置价格</button>
            `
        })

        function getCourses() {
            return new Promise(resolve => {
                setTimeout(() => {
                    resolve([{'name': "C++", 'price': '0' }, {'name': "Java", 'price': '0'}]) 
                }, 2000);
            })
        }
        const app = new Vue({
            el: "#app",
            data: {
                title: "hello vue !!!",
                title1: "hello wo bu bian",
                courseList: [], //"c++", "java", "python"
                totalCount: 0,
                newCourse: "",
                showSuccess: false,
                showWarn: false
            },
            computed: {
                total() {
                    return this.courseList.length 
                }
            },
            methods: {
                addCourseHandle() {
                    if (this.newCourse == "") {
                        //this.courseList = []
                        this.showWarn = true
                    } else {
                        console.log("--addCourseHandle---", this.newCourse)
                        this.courseList.push({'name': this.newCourse, 'price': 0})
                        this.newCourse = ""
                        this.showSuccess = true
                    }
                },
            },
            watch: {
                courseList: {
                    immediate: true,
                    deep: true,
                    handler(newValue, oldValue) {
                        this.totalCount = newValue.length
                    }
                }
            },
            async created() {
                this.courseList = await getCourses()
            },
        })  

        setTimeout(() => {
            app.title = "嘿嘿嘿 ！！！" ,
            app.title = "wo yao bian"  
         }, 1000)
    </script>

</body>

</html>